.page {
    text-rendering: optimizeLegibility;
    background: #2A2C2F;
    color: white;
    font-family: "Inter", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0 auto;
    padding: 0;
}