.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    padding: 0 48px 92px;
    margin: 0 auto;
    max-width: 1184px;
}

@media (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 14px;
        max-width: 928px;

    }
}

@media (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        gap: 16px;
        padding: 0 24px 88px;
        max-width: 720px;
    }
}

@media (max-width: 380px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        gap: 12px;
        padding: 0 16px 64px;
        max-width: 288px;
    }
}