.place__image {
    max-width: 460px;
    max-height: 460px;
    padding: 0;
    margin: 0;
}

@media (max-width: 1024px) {
    .place__image {
        max-width: 440px;
        max-height: 440px;
    }
}

@media (max-width: 972px) {
    .place__image {
        max-width: 390px;
        max-height: 390px;
    }
}

@media (max-width: 900px) {
    .place__image {
        max-width: 340px;
        max-height: 340px;
    }
}

@media (max-width: 650px) {
    .place__image {
        max-width: 95%;
        max-height: 95%;
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
    .place__image {
        max-width: 100%;
        max-height: 100%;
    }
}