.header {
    display: flex;
    align-items: center;
    padding: 28px 48px 0;
    max-width: 1184px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .header {
        padding: 28px 24px 0;
    }
}

@media (max-width: 320px) {
    .header {
        padding: 16px 16px 0;
        display: flex;
        align-items: center;
    }
}