.intro {
    padding: 92px 310px 92px 0;
    max-width: 690px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    min-width: 288px;
}

@media (max-width:1024px) {
    .intro {
        padding: 92px 250px 92px 48px;
        margin: 0;
    }
}

@media (max-width:768px) {
    .intro {
        padding: 88px 24px 88px;
        max-width: 720px;
        margin: 0;
    }
}

@media (max-width:320px) {
    .intro {
        padding: 64px 16px 64px;
        max-width: 288px;
    }
}